/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  background: #5DC8CD;
  margin: 0;
  font-family: Helvetica;
}

.container {
  width: 900px;
  margin: 40px auto;
}

.nav {
  height: 40px;
  width: 100%;
  background: black;
  position: fixed;
  top: 0;
}

.inner-nav {
  width: 900px;
  margin: 16px auto 0 auto;
  height: 24px;
  position: relative
}

.inner-nav a {
  float: right;
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-size: 20px;
}

.login {
  position: absolute;
  bottom: -30px;
  right: 0;
}

.alert {
  width: 900px;
  margin: 40px auto;
  color: red;
  font-weight: bolder;
}