.signup {
  width: 500px;
  height: 200px;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -250px;
  margin-top: -100px;
  background: #FFB473;
  border: 1px solid black;
  border-radius: 10px;
}

form {
  background: #FFB473;
  border: 1px solid black;
  border-radius: 10px;
}

.user-field {
  width: 400px;
  margin: auto;
  padding: 40px;
  text-align: center;
  display: none;
}

.user-field * {
  font-size: 28px;
  width: 360px;
  margin: 20px;
}

.user-field label {
  font-size: 32px;
}

.profile-pic {
  height: 200px;
  width: auto;
  border: 2px solid silver;
}

h1 {
  margin: 5px 10px 5px 5px;
}

h3 {
  margin: 5px;
}

.edit_user {
  width: 500px;
  margin: auto;
}

.edit_user * {
  display: block;
  font-size: 20px;
  width: 360px;
  margin: 5px auto;
}

#edit-height * {
  display: inline;
  margin: 10px 5px 10px 0;
}

#edit-max * {
  display: inline;
  margin: 10px 5px 10px 0;
}

.numerical {
  width: 50px;
}