.new_workout {
  width: 400px;
  height: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -150px; 
  margin-left: -200px;
}

.new_workout * {
  font-size: 22px;
  width: 200px;
  text-align: center;
  margin: 20px auto;
  display: block;
}

#workout-header {
  width: 200px;
}

.week-number, .day-count, .day-select{
  display: inline;
}

.workout-week {
  margin: 20px 0;
  clear: both;
}



.day {
  float: left;
  margin: 10px 5px;
  width: 290px;
  height: 200px;
}

.add-lift {

}

.results {
  list-style-type: none;
  background: white;
  width: 150px;
  border: 1px solid grey;
  margin: 0 0 0 2px;
  padding: 0;
}

.results li {
  width: 150px;
}

.result:hover {
  background: grey;
  cursor: pointer;
}